# Dependencies
node_modules/
__pycache__/
venv/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
build/
dist/
.next/

# Misc
.DS_Store
*.pem
*.pyc
uploads/

config.py
connection.py
